%h1 ピルロ 1

%span.image 
   = image_tag asset_path('piruro3.jpeg', :width =>'112', :height =>'auto', :alt => '画像') 
   = image_tag 'https://take19860305.s3-ap-northeast-1.amazonaws.com/piruro3.jpeg', class: 'image', size: "500x500"



